<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>

  <body>
    <main class="main1">
      <div class="shape-parent container">
        <div class="shape ms-60">
          <svg
            class="mt-n160"
            data-rellax-speed="1"
            width="500"
            height="318"
            viewBox="0 0 500 318"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="250" cy="68" r="250" fill="#202020"></circle>
          </svg>
        </div>
        <div class="justify-content-center text-black mb-100 row">
          <div
            data-aos="fade-up"
            class="col-12 col-lg-8 col-xl-6 col aos-init aos-animate"
          >
            <h1 class="display-4 mb-20 text-black">소원 목록</h1>
            <p class="mb-4">{{data.message}}</p>
          </div>
        </div>
        <div class="gh-1 gv-4 row">
          <div
            data-aos="fade-up"
            class="col-12 col-md-6 col-lg-4 aos-init boxDeco"
          >
            <a class="card card-demo text-black" href="/themebau/react/home"
              ><span class="card-img"
                ><img
                  src="/themebau/react/static/media/main-home-740-600.a95c84977b6da10778c0.jpg"
                  alt="" /></span
              ><span class="card-body"
                ><span class="card-title h5">Main Home</span></span
              ></a
            >
          </div>
          <div
            data-aos="fade-up"
            class="col-12 col-md-6 col-lg-4 aos-init boxDeco"
          >
            <a
              class="card card-demo text-white"
              href="/themebau/react/simple-portfolio"
              ><span class="card-img"
                ><img
                  src="/themebau/react/static/media/simple-portfolio-740-600.7e8d77cc24950952629c.jpg"
                  alt="" /></span
              ><span class="card-body"
                ><span class="card-title h5">Simple Portfolio</span></span
              ></a
            >
          </div>
          <div
            data-aos="fade-up"
            class="col-12 col-md-6 col-lg-4 aos-init boxDeco"
          >
            <a
              class="card card-demo text-white"
              href="/themebau/react/creative-agency"
              ><span class="card-img"
                ><img
                  src="/themebau/react/static/media/creative-agency-740-600.cd63d27b713c8f6dcc4e.jpg"
                  alt="" /></span
              ><span class="card-body"
                ><span class="card-title h5">Creative Agency</span></span
              ></a
            >
          </div>
        </div>
      </div>

      <!-- 응원 있을 때 초기 화면 세팅 => if문 걸어서 만약 데이터 있으면 보여주고 없으면 아닌걸 보여주고.. -->
      <!-- <div class="randomWishBox">
        <h3>{{data.message}}</h3>
        <button
          type="button"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="wishButton"
        >
          소원 등록하기
        </button>
      </div>
      <div class="wishContainer">
        <div class="wishBox">
          <div class="content">사랑해!! 힘내!! 파이팅!!</div>
          <div class="gotoCheerup">응원하러 가기</div>
          <div class="info"> -->
      <!-- <div class="numbers">응원한 사람들: 3</div>
            <div class="date">yyyy-mm-dd</div>
          </div>
        </div>
        <div class="wishBox">
          <div class="content">사랑해!! 힘내!! 파이팅!!</div>
          <div class="gotoCheerup">응원하러 가기</div>
          <div class="info">
            <div class="numbers">응원한 사람들: 3</div>
            <div class="date">yyyy-mm-dd</div>
          </div>
        </div>
        <div class="wishBox">
          <div class="content">사랑해!! 힘내!! 파이팅!!</div>
          <div class="gotoCheerup">응원하러 가기</div>
          <div class="info">
            <div class="numbers">응원한 사람들: 3</div>
            <div class="date">yyyy-mm-dd</div>
          </div>
        </div>
      </div> -->

      <!-- 응원 없을 때 초기 화면 세팅 -->

      <!-- <h2 id="nowish">소원이 없습니다. 소원을 등록해 주세요.</h2> -->

      <!-- 소원등록 모달창 -->

      <!-- <div class="enrollWish">
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  소원등록
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form action="/wish/create" method="POST">
                  <textarea name="contents" id="contents" cols="30" rows="10">
        소원을 입력해주세요</textarea
                  >
                  <button type="submit" class="btn btn-success">
                    Save changes
                  </button>
                  <button
                    type="button" -->
      <!-- class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </main>
  </body>
  <script></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
</html>
