@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "reset.css";
* {
  font-family: "Noto Sans KR", sans-serif;
}

main {
  width: 100%;
  height: 100vh;
}
.randomWishBox {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  font-size: 30px;
}
.randomWishBox .wishButton {
  width: 430px;
  height: 90px;
  text-align: center;
  border-radius: 45px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wishContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.wishBox {
  width: 350px;
  height: 350px;
  padding: 20px;
  background-color: #80a42a;
  gap: 20px;
  position: relative;
}
.wishBox > .content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gotoCheerup {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 20px;
}
.info {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -10px;
  font-size: 10px;
}
#nowish {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.enrollWish {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 500px;
  padding: 50px;

  text-align: center;
}
.enrollWish > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.enrollWish > button {
  transform: translateX(-500%);
}
.hidden {
  display: hidden;
}
