<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/wishtree.css')}}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Wish Tree</h1>
      <p class="music">응원을 하면 나무가 무럭무럭 자라나요~!</p>
    </header>
    <section class="section">
      <div class="tree">
        <div class="imgbox">
          {% if cheerings.comment_count(cheerings.wish_id) == 0 %}
          <img src="{{ url_for('static', filename='plant.png') }}" alt="" />
          {% elif cheerings.comment_count(cheerings.wish_id) > 1 and
          cheerings.comment_count(cheerings.wish_id) < 2 %}
          <img src="{{ url_for('static', filename='./plant.png') }}" alt="" />
          {% elif cheerings.comment_count(cheerings.wish_id) > 2 and
          cheerings.comment_count(cheerings.wish_id) < 3 %}
          <img src="{{ url_for('static', filename='./arbol.png') }}" alt="" />
          {% else %}
          <img src="{{ url_for('static', filename='.arbol2.png') }}" alt="" />
          {% endif %}
        </div>

        <!-- 코멘트 갯수 -->
        <div class="countWish">{{cheering.comment_count}}</div>
      </div>

      <div class="textbox">
        <button
          type="button"
          class="cheerUpButton"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-bs-backdrop="false"
        >
          응원의 말 건네기
        </button>
        <div class="contentMsg">
          {% for cheering in cheerings %}
          <div class="content">
            <div class="msg">{{ cheering.comment_contents }}</div>
            <div class="info">
              <div class="date">{{ cheering.created_at}}</div>
              <div class="name">{{ cheering.wish_id }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- 응원의 말 모달 -->

    <form action="add_cheering" method="POST">
      <div
        class="modal"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div
              class="modal-header"
              style="background-color: #fff; color: #000"
            >
              <h1
                class="modal-title fs-5"
                id="exampleModalLabel"
                style="background-color: #fff; color: #000"
              >
                소원 응원하기
              </h1>

              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body" style="background-color: #fff; color: #000">
              <input
                type="text"
                placeholder="소원을 입력해주세요"
                name="comment_contents"
                style="background-color: #fff; color: #000"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn"
                style="background-color: #dfccfb"
              >
                확인
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
</html>
